<div class="main-div">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="http://localhost:3000/users/profile-image/687c5b7c-75b6-456c-9e1b-7968fdf4e5d7.PNG" class="header-image">
      </div>
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
      <p>Username: {{user?.username}}</p>
      <p>Role: {{user?.role}}</p>
    </mat-card-header>
  </mat-card>
</div>
