<app-add-recipe></app-add-recipe>


<div class="center">

  <ng-container class="center" *ngFor="let recipe of recipes$ | async">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{recipe.title}}</mat-card-title>
        <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.freepik.com/darmowe-zdjecie/bialy-talerz-z-salatka-i-unoszace-sie-w-powietrzu-skladniki-oliwki-salata-cebula-pomidor-ser-mozzarella-natka-pietruszki-bazylia-i-oliwa-z-oliwek_120795-595.jpg" alt="Food.jpg">
      <mat-card-content>
        <p>
          {{recipe.body}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
