.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png');
  background-size: cover;
}

.center {
  margin-left: 750px;
  width: 100%;
  padding: 10px;
}
