
<div class="center">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tytuł</mat-label>
      <input matInput disabled placeholder="tytuł" formControlName="title">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Opis</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Zawartość</mat-label>
            <input matInput formControlName="body">
          </mat-form-field>
        </td>
      </tr>
    </table>


    <button type="submit">Zapisz</button>
  </form>
</div>
