<h1 style="text-align: center">
  Register
</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput type="text" placeholder="Full Name" formControlName="name">
      <mat-hint *ngIf="registerForm.get('name').errors">Name is require</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="username" formControlName="username">
      <mat-hint *ngIf="registerForm.get('username').errors">Name is require</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email">
      <mat-hint *ngIf="registerForm.get('email').errors">username is require</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-hint *ngIf="registerForm.get('password').errors">Password is require</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm your Password" formControlName="passwordConfirm">
      <mat-hint *ngIf="registerForm.get('passwordConfirm').errors">passwordConfirm is require</mat-hint>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="registerForm.invalid" type="submit">Submit</button>

  </div>

</form>

<h3 *ngIf="registerForm.invalid">Forms Contains following errors: </h3>
<small *ngIf="registerForm.get('password').hasError('passwordInvalid')">Password is not containing a number</small>
<br>
<small *ngIf="registerForm.hasError('passwordsNotMatching')">Password is not matching</small>
