﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    h1 {
        margin-top:300px;
        margin-left: auto;
        margin-right: auto;
        width: 30em;
    }
</style>
<body style="background-color:lightgrey;">
    <h1 style="font-size:50px;">Aplikacja do zarządzania osobami zaginionymi</h1>
   </body>
