<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Recepies</span>
    <span class="example-spacer"></span>

    <button routerLink="/admin" mat-flat-button>Recipes</button>
    <button routerLink="/users" mat-flat-button>Users</button>
    <mat-form-field style="margin-left: 20px" name="loginRegisterDropDown">
      <mat-select placeholder="login" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let entry of entries" [value]="entry.link">
          {{entry.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
